*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #026eee;
}

html.is-changing .transition-fade {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #0c070f;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}
.message {
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #183787;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  z-index: 10;
  justify-content: space-around;
}

.message span {
  color: white;
  font-size: 1.5rem;
}

.message i {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

.message i:hover {
  transform: rotate(60deg);
}
.comming_soon{

  background-color: red;
  color: white;
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}

