.Main_topic_sides {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 30px;
  margin-top: 130px;
  position: relative;
  align-items: center;
}

.create_job_form-field {
  margin-bottom: 6px;
  position: relative;
  background-color: #00000077; /* Set background color */
  padding-top: 10px;
  border-radius: 8px; /* Add border radius */
  border: 0.05px solid #dddddd13;
  opacity: 100%;
  height: 70px;
  justify-content: center;
  width: 620px;
  /* Add border */
}
.create_job_form-field {
  position: relative; /* Ensure relative positioning */
}

.create_job_input-field {
  width: calc(100% - 24px); /* Adjust width to accommodate padding and border */
  padding: 12px;
  padding-left: 18px;
  padding-top: 30px;
  border: none;
  color: white;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  font-size: 14px;
  transition: border-color 0.3s ease;
  background-color: transparent;
}

.create_job_input-field:focus {
  outline: none;
  border-color: #026eee;
}

.create_job_input-field:focus + .create_job_input-label,
.create_job_input-field:not(:placeholder-shown) + .create_job_input-label {
  top: -10px;
  font-size: 14px;
  color: #026eee;
}

.grit_card_section_create {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 270px;
  margin-right: 270px;
  background-image: url(/Images/Shadow.png);
  background-size: 400px;
  background-repeat: no-repeat;
  height: 4px;
}

.card_section_project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  width: 300px;
  padding: 30px;
  background: linear-gradient(
    326.21deg,
    rgba(83, 83, 83, 0.03) 4.14%,
    hsla(0, 0%, 74%, 0.08)
  );
  border: 1px solid hsla(0, 0%, 100%, 0.03);
  border-radius: 7px;
  text-align: left;
  transition: border 0.3s ease-in-out;
  cursor: default;
  line-height: 20px;
  color: white;
  height: auto;
}

.card_section_project:hover {
  border: 1px solid hsla(240, 2%, 25%, 0.836);
}

.card_section_project h2 {
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}

.card_section_project p {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

.card_image {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  display: block;
  left: 90px;
  top: -120px;
}

.icon-container i {
  font-size: 30px;
  color: white;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.icon-container i:hover {
  transform: scale(1.2);
  color: #026eee;
}
@media(max-width:991px){
  html{
      font-size:65%;
  }

  
}
@media(max-width:768px){
  html{
    font-size:63%;
}
.grit_card_section_create {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 200px;
}
.create_job_form-field {
  height: 70px;
  width: 80vw;

}
.Main_topic_sides {
  font-size: 25px;
  margin-left: 5%;
}
.card_image {
  width: 70vw;
  left: 10%;
  top: 20%;
  height: 500px;
}
  
}
@media(max-width:450px){
  html{
      font-size: 60%;
  }
  .grit_card_section_create {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 200px;
  }
  .create_job_form-field {
    height: 70px;
    width: 80vw;

  }
  .Main_topic_sides {
    font-size: 25px;
    margin-left: 5%;
  }
  .card_image {
    width: 70vw;
    left: 10%;
    top: 20%;
    height: 500px;
  }
  
  

}


