.Land {
  z-index: -1;
  background: url(/Images/Shadow.png) no-repeat 50%;
  background-size: contain;
  position: absolute;
  width: 99%;
  height: 100%;
  background-size: contain;
  align-items: center;
}

.Main_topic_sides {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 40px;
  margin-top: 130px;
  position: relative;
  align-items: center;
}

.Small_topic_sides {
  text-align: center;
  color: rgba(255, 255, 255, 0.418);
  font-weight: 30;
  font-size: 15px;
  margin-top: 20px;
  position: relative;
  align-items: center;
  margin-left: 370px;
  margin-right: 370px;
}
.wrap {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  margin-top: 200px;
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 1000px;
  border: 2px solid #026eee;
  border-right: none;
  padding: 10px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #ffffff;
  transition: width 0.6s ease;
  background-color: #0c070f60;
}

.searchTerm:focus {
  color: #ffffff;
  opacity: 100%;
}

.searchButton {
  width: 100px;
  height: 40px;
  border: 0.5px solid #026eee;
  background: #026eee;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  opacity: 100%;
  box-shadow: none;
  transition: background-color 0.8s ease, color 0.8s ease;
}

.description {
  padding-top: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.sub_topic_sides {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 30px;
  margin-top: 100px;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
}

.grit_card_section_available_job {
  margin-bottom: 10px;
}

/*Available Job*/
.Available_Job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 280px;
  padding: 35px;
  background: linear-gradient(
    326.21deg,
    rgba(83, 83, 83, 0.03) 4.14%,
    hsla(0, 0%, 74%, 0.08)
  );
  border: 1px solid hsla(0, 0%, 100%, 0.03);
  border-radius: 7px;
  text-align: left;
  transition: border 0.3s ease-in-out;
  cursor: default;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.36px;
  color: white;
  height: auto;
  width: 650px;
  min-height: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  /* gap: 0; */
  position: relative; /* Add position relative to enable absolute positioning */
}

.Available_Job td {
  font-weight: 200;
  font-size: 15px;
  width: 200px;
  text-align: center;
  /* margin-left: 10px; */
}

.Available_Job tr {
  border: none;

}
.Available_Job:hover {
  border: 1px solid hsla(240, 2%, 25%, 0.836);
  cursor: pointer;
}

/* Add arrow on hover */
.Available_Job:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px; /* Adjust as needed */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid hsla(240, 2%, 25%, 0.836); /* Arrow color */
  z-index: 1; /* Ensure the arrow is above the box */
}

.grit_card_section_available_job {
  margin-bottom: 10px;
}
/*Available Job end*/

.percentage {
  display: inline-block;
  margin-right: 5px;
  margin-right: 10px;
}

progress[value] {
  --w: 150px;
  --color: linear-gradient(90deg, #1ecd1e, #ff6161) 0 / var(--w);
  --background: lightgrey; /* the background color */
  height: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: var(--w);

  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}

#card_image {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  display: block;

  top: 400px;
  left: -900px;
}

@media(max-width:991px){
  html{
      font-size:65%;
  }
  .Small_topic_sides {
    font-size: 15px;
    width: 90%;
    margin-left: 50px;

  }
  
}
@media(max-width:768px){
  html{
    font-size:63%;
  }
  .Small_topic_sides {
    font-size: 15px;
    width: 90%;
    margin-left: 10px;

  }
  .wrap {
    width: 60%;

  }
  .searchButton {
    width: 250px;
  }
  
  .Available_Job {
    width: 90%;
    
  }
  .Available_Job td {
    width: 130px;
    text-align: center;
    font-size: 12px;
  }
  .Available_Job tr {
    display: flex;
    justify-content: space-between;

  }

  
}
@media(max-width:450px){
  html{
      font-size: 60%;
  }
  .Small_topic_sides {
    font-size: 15px;
    width: 90%;
    margin-left: 10px;

  }
  .wrap {
    width: 60%;

  }
  .searchButton {
    width: 250px;
  }
  
  .Available_Job {
    width: 90%;
    
  }
  .Available_Job td {
    width: 130px;
    text-align: center;
    font-size: 12px;
  }
  .Available_Job tr {
    display: flex;
    justify-content: space-between;

  }

}


