.Land {
  z-index: -1;
  background: url(/Images/Shadow.png) no-repeat 50%;
  background-size: contain;
  position: absolute;
  width: 99%;
  height: 100%;
  background-size: contain;
  align-items: center;
}

.Main_topic_sides {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 40px;
  margin-top: 130px;
  position: relative;
  align-items: center;
}

.Small_topic_sides {
  text-align: center;
  color: rgba(255, 255, 255, 0.418);
  font-weight: 30;
  font-size: 15px;
  margin-top: 20px;
  position: relative;
  align-items: center;
  margin-left: 370px;
  margin-right: 370px;
}

.grit_card_section_create {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 270px;
  margin-right: 270px;
  background-image: url(/Images/Shadow.png);
  background-size: 400px;
  background-repeat: no-repeat;
  height: 4px;
}

.card_section_project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  width: 300px;
  background: linear-gradient(
    326.21deg,
    rgba(83, 83, 83, 0.03) 4.14%,
    hsla(0, 0%, 74%, 0.08)
  );
  border: 1px solid hsla(0, 0%, 100%, 0.03);
  border-radius: 7px;
  text-align: left;
  transition: border 0.3s ease-in-out;
  cursor: default;
  line-height: 20px;
  color: white;
  height: 100px;
  padding: 0%;
  margin: 0%;
}

.card_section_project:hover {
  border: 1px solid hsla(240, 2%, 25%, 0.836);
}

.card_section_project h2 {
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  padding-bottom: 5px;
}

.card_section_project p {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  padding: 0%;
  margin: 0%;
}

.audio-player-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Small_topic_sides {
  text-align: center;
  color: rgba(255, 255, 255, 0.418);
  font-weight: 30;
  font-size: 15px;
  margin-top: 20px;
  position: relative;
  align-items: center;
  margin-left: 370px;
  margin-right: 370px;
}

.Small_topic_sides i {
  color: rgba(255, 0, 0, 0.507);
  font-weight: 100;
}

#card_image1 {
  position: absolute;
  height: 100%;
  display: block;
  width: 1000px;
  z-index: -1;
  height: 1000px;
  left: -600px;
}

#card_image2 {
  position: absolute;
  height: 100%;
  display: block;

  z-index: -1;
  height: 1000px;
  right: -600px;
}

.sub_topic_sides {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 30px;
  margin-top: 100px;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
}

.Annotate_image {
  width: 600px;
  height: auto;
}

.comment {
  color: white;
}

textarea {
  padding: 10px;
  width: 600px; /* Adjust width as needed */
  height: 200px;
  color: white;
  padding: 10px;
  background-color: #0101015d;
  resize: none; /* Prevent resizing of the textarea */
}

.button_holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -25px;
  justify-content: left;
}

.middle_button_Creator_main {
  border: none;
  background-color: #0173f9;
  border-radius: 25px;
  margin: 0;
  height: 50px;
  width: 150px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: none;
  transition: box-shadow 2s ease;
  border-radius: 10px;
  background-color: #026eee;
}

.middle_button_Creator_main:hover {
  box-shadow: 0px 4px #39bffe;
  transition: 0.3s;
  color: white;
  opacity: 100%;
}
.s0{
  display: none;
}
.s1{
  display: none;
}
.s2{
  display: none;
}
@media(max-width:991px){
  html{
      font-size:65%;
  }
  .s0{
    display: none;
  }
  .s1{
    display: none;
  }
  .s2{
    display: block;
  }
  .s3{
    display: none;
  }
  #card_image1 {
    display: none;
  }
  
  #card_image2 {
    display: none;
  }
  .Main_topic_sides {
    font-size: 25px;
  
  }
  .Small_topic_sides {
    margin-left: 0px;
    margin-right: 10px;
  }
  .grit_card_section_create {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .card_section_project {
    width: 200px;
    height: 50px;
  
  }
  .card_section_project h2 {
    font-size: 10px;
  }
  
  .card_section_project p {
    font-size: 10px;
  }
  .audio-player-container {
    margin-top: 50px;
  }
  textarea {
    width: 500px; /* Adjust width as needed */
    height: 200px;
    margin-bottom: 20px;
  
  }

  
}
@media(max-width:768px){
  html{
    font-size:63%;
}
.s0{
  display: none;
}
.s1{
  display: block;
}
.s2{
  display: none;
}
.s3{
  display: none;
}
#card_image1 {
  display: none;
}

#card_image2 {
  display: none;
}
.Main_topic_sides {
  font-size: 25px;

}
.Small_topic_sides {
  margin-left: 0px;
  margin-right: 10px;
}
.grit_card_section_create {
  margin-left: 10px;
  margin-right: 10px;
}

.card_section_project {
  width: 200px;
  height: 50px;

}
.card_section_project h2 {
  font-size: 10px;
}

.card_section_project p {
  font-size: 10px;
}
.audio-player-container {
  margin-top: 50px;
}
textarea {
  width: 400px; /* Adjust width as needed */
  height: 200px;
  margin-bottom: 20px;

}
  
}
@media(max-width:450px){
  html{
      font-size: 60%;
  }
  .s0{
    display: block;
  }
  .s1{
    display: none;
  }
  .s2{
    display: none;
  }
  .s3{
    display: none;
  }
  #card_image1 {
    display: none;
  }
  
  #card_image2 {
    display: none;
  }

  .Main_topic_sides {
    font-size: 25px;

  }
  .Small_topic_sides {
    margin-left: 10px;
    margin-right: 10px;
  }
  .grit_card_section_create {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .card_section_project {
    width: 150px;
    height: 50px;

  }
  .card_section_project h2 {
    font-size: 10px;
  }
  
  .card_section_project p {
    font-size: 10px;
  }
  .audio-player-container {
    margin-top: 50px;
  }
  textarea {
    width: 300px; /* Adjust width as needed */
    height: 100px;
    margin-bottom: 20px;

  }

}

