
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Lato:wght@700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-colur:#0C070F;
    --white:#FFFFFF;
    --btn-colour:#026EEE;
    --btn-text:#0C070F;
    --input-box:#A5EFFF;
    --next-bar:#183787;
 }
 *{
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
 }

 body{
    background-color: var(--main-colur);
    background-image: url("../images/gradient.png");
    background-repeat: no-repeat;
    background-position: center;
 }
 
 .header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1;
    height:6rem;
    background-color: var(--main-colur);
}
.header .flex{
    display: flex;
    align-items: top;
    justify-content: center;
    position:relative;
}
.header .flex .back a i{
    color: var(--white);
    margin-left: -10rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.header .flex .navbar{
    display: flex;
    margin-top: 1.2rem;

}
.header .flex .navbar a{
    margin: 0 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color:var(--white);
    text-decoration: none;
    align-items: center;
}
.header .flex .navbar a:hover{
   
    text-decoration: underline;
}
.header .flex .logout_button{
    display: flex;
    margin-top: -0.5rem;
}
.header .flex .logout_button button{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background-color: var(--btn-colour);
    font-weight: bold;
    font-size: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.content .title{
    margin: 0;
}
.content .title h1{
    color: var(--white);
    font-weight: bold;
    font-size: 2.5rem;
}
.content form .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}
.content form .form-group .title h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--white);
    
}
.content form .form-group .desc{
    width:800px;
    text-align: center;
    
}
.content form .form-group .desc p{
    font-size: 1.3rem;
    color: var(--white);
    
}
.content form .form-group .dots{
    /* margin-left: 50%; */
    margin-top: 30px;
    
}




.content form .form-group .buttons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.content form .form-group .buttons .button{
    width: 220px;
    height: 65px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 40px;
    font-size: 1.7rem;
    background-color: var(--btn-colour);
    color: var(--btn-text);
    font-weight: bold;
}
.content form .form-group .buttons .button:hover{
    background-color: var(--white);
    
}


@media(max-width:991px){
    html{
        font-size:65%;
    }
    .content form .form-group .desc{
        width:600px;
        text-align: center;
        
    }
   
}
@media(max-width:768px){

    .header .flex .back i{
        margin-left: -5rem;

    }
    .content form .form-group .desc{
        width:500px;
        text-align: center;
        
    }
    
}
@media(max-width:450px){
    html{
        font-size: 60%;
    }
    .content form .form-group .desc{
        width:500px;
        text-align: center;
        
    }


    
}

