
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Lato:wght@700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-colur:#0C070F;
    --white:#FFFFFF;
    --btn-colour:#026EEE;
    --btn-text:#0C070F;
    --input-box:#A5EFFF;
    --next-bar:#183787;
 }
 *{
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
 }
 *::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
  }
  
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #026eee;
  }
  

 body{
    background-color: var(--main-colur);
    background-image: url("../images/gradient.png");
    background-repeat: no-repeat;
    background-position: center;
 }
 
 .header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1;
    height:6rem;
    background-color: var(--main-colur);
}
.header .flex{
    display: flex;
    align-items: top;
    justify-content: center;
    position:relative;
}
.header .flex .back a i{
    color: var(--white);
    margin-left: -10rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.header .flex .navbar{
    display: flex;
    margin-top: 1.2rem;

}
.header .flex .navbar a{
    margin: 0 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color:var(--white);
    text-decoration: none;
    align-items: center;
}
.header .flex .navbar a:hover{
   
    text-decoration: underline;
}
.header .flex .logout_button{
    display: flex;
    margin-top: -0.5rem;
}
.header .flex .logout_button button{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background-color: var(--btn-colour);
    font-weight: bold;
    font-size: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content form .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}
.content form .form-group .title{
    margin: 0;
    margin-bottom: -30px;
    
}
.content form .form-group .title h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--white);
    
}


.content form .form-group .desc{
    width:55%;
    text-align: center;
    
}
.content form .form-group .desc p{
    font-size: 1.2rem;
    color: var(--white);
    
}

.content form .form-group .input-container input{
    margin-top: -30px;
    width:510px;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
}
.content form .form-group .input-container .search-btn{

    width:50px;
    height: 40px;
    border-radius: 10px;

}


input[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
    background-color: var(--white);
  }
  
  input[type="submit"]:hover {
    opacity: 1;
  }
  
.content form .box-container{
    font-size: 1.2rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content form .box-container a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; 
    width: inherit;
    height: inherit;
}
.content form .box-container a .box{
    width:60vw;
    height: 100px;
    background-color: black;
    background-image: url("../images/input-box-r.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;

}
.content form .box-container a .box:hover{
    background-color: var(--white);
    color: black;
    cursor: pointer;
}
.content form .box-container a .box .name{
    font-size: 1.5rem;
    text-align: center;
    flex: 1;
    display: flex;
    margin-top: 0;
    flex-direction: column;


}

.content form .box-container a .box .complete{
    font-size: 1.3rem;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;

}
.content form .box-container a .box .complete .complete_bar{
    display: flex;
    flex-direction: row;

}
.content form .box-container a .box .complete .complete_bar .complete_bar_1{
    height: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.content form .box-container a .box .complete .complete_bar .complete_bar_2{
    height: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content form .box-container a .box .price{
    font-size: 1.5rem;
    text-align: center;
    flex: 1;

}

.content .footer-images{
    display: flex;
    justify-content: center;
}
.content .footer-images i{
    margin-right: 30px;
    color: var(--white);
    font-size: 1.5rem;
}


@media(max-width:991px){
    html{
        font-size:65%;
    }
    .content form .form-group .desc{
        width:600px;
        text-align: center;
        
    }
    .content form .form-group .input-container input{
        margin-top: 0px;
        width:400px;
        
    }

   
}
@media(max-width:768px){

    .header .flex .back i{
        margin-left: -5rem;

    }

    .content form .form-group .input-container input{
        margin-top: 0px;
        width:350px;
        height: 30px;

    }

    
}
@media(max-width:450px){
    html{
        font-size: 60%;
    }

    .content form .form-group .input-container input{
        margin-top: 0px;
        width:300px;
        height: 30px;

    }

    

    
}

