*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #026eee;
}

html.is-changing .transition-fade {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #0c070f;
  flex-direction: column;
}

.card_image_MoodWave {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  display: block;
  z-index: -1;
}

.Land {
  z-index: -1;
  background: url(/Images/Shadow.png) no-repeat 50%;
  background-size: contain;
  position: absolute;
  width: 99%;
  height: 100%;
  background-size: contain;
  align-items: center;
}

.icon_head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 230px;
}

.icon_head img {
  width: 250px;
}

.icon_head.animate {
  animation: in 5s ease-out forwards;
  animation-delay: 0.1s;
}

.Main_topic_mood {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 129px;
  margin-top: 25px;
  position: relative;
  align-items: center;
  opacity: 0;
}

.Main_topic_mood.animate {
  animation: in 5s ease-out forwards;
  animation-delay: 0.1s;
}
/*Scroll down animation*/

.scroll1 {
  width: 1em;
  height: 1em;
  bottom: 205px;
  border-width: 0 0.2em 0.2em 0;
  border-style: solid;
  border-color: rgba(250, 235, 215, 0.26);
  animation: scrolldown 1.5s ease-in-out infinite;
  left: 50%;
  transform: translateY(0%) rotate(45deg);

  opacity: 0;
}

.scroll2 {
  width: 1.2em;
  height: 1.2em;
  bottom: 200px;
  border-width: 0 0.2em 0.2em 0;
  border-style: solid;
  border-color: rgba(250, 235, 215, 0.26);

  animation: scrolldown 1.5s ease-in-out infinite;
  left: 50%;
  transform: translateY(0%) rotate(45deg);

  opacity: 0;
}

@keyframes scrolldown {
  0% {
    transform: translateY(10%) rotate(45deg);
    opacity: 0.5;
  }
  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    transform: translateY(10%) rotate(45deg);
    opacity: 0.5;
  }
}

/*scroll down end*/
