#card_image1 {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  display: block;

  width: 700px;
  z-index: -1;
  height: 500px;
}

#card_image2 {
  position: absolute;
  display: block;
  width: 700px;
  z-index: -1;
  height: 500px;
}

.container_card_Login {
  width: 100%;
  display: flex;
  align-items: center;

  overflow: hidden;

  padding: 0%;
}

.Login_card {
  width: 50%;

  padding-left: 150px;

  /*New part*/

  max-width: 50%;
  color: white;
  align-items: center;
  background-color: #282c343a;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 0.1) 0%,
    rgba(17, 0, 32, 0.3) 100%
  );

  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;

  padding: 1.5rem;
  z-index: 10;

  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0%;
  overflow-x: hidden;
}

.Login_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    transparent,
    rgba(26, 8, 189, 0.486),
    transparent
  );
  animation: shimmer 3s infinite alternate ease-in-out;
  opacity: 0.5;
}

@keyframes shimmer {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.Mood_text {
  opacity: 4%;
  width: 440px;
  z-index: -1;
  align-items: flex-start;
  padding-bottom: 0px;
  padding-top: 0px;
  align-items: center;
  margin-left: 100px;
}

.registerform_login {
  margin-left: 60px;
}

#icon {
  color: white;
  cursor: pointer;
}

.title h1 {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.input-container_register {
  color: white;
  padding-bottom: 20px;
}

.input_text {
  width: 370px;
  padding: 8px;
  margin-top: 5px;
  background-color: #49474bad;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  transition: border-color 1.5s ease, background-color 1s ease;
}

.input_text:focus {
  outline: none;
  border: 0.5px solid #007bff;
  background-color: #49474b50;
}

.password-input {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url("/Images/close-eye\ \(1\).png"); /* Path to your eye icon */
  background-size: cover;
  margin-right: 5px;
}

.Side_button_register {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  background-color: #026eee;
  color: #0c070f;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  opacity: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  margin: 0;
  height: 40px;
}

.Side_button_register:hover {
  box-shadow: 4px 5px #39bffe;
  transition: 0.3s;
  color: white;
  opacity: 100%;
}

.last_text {
  color: rgba(255, 255, 255, 0.74);
}

.last_text a {
  color: white;
  font-weight: 200;
  transition: color 0.5s ease-in-out;
  font-weight: 700;
}

.last_text a:hover {
  color: #0274fa;
  font-weight: 700;
}

@media (max-width: 991px) {
  html {
    font-size: 65%;
  }
  .Mood_text {
    opacity: 4%;
    width: 300px;
    margin-left: 10px;
  }
  .input_text {
    width: 320px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 90%;
  }
  .Login_card {
    display: none;
  }
  #card_image1 {
    width: 100%;
  }
  #card_image2 {
    width: 100%;
  }
  .registerform_login {
    margin-left: 20%;
  }
  .input_text {
    width: 300px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 80%;
  }
  .Login_card {
    display: none;
  }
  #card_image1 {
    width: 100%;
  }
  #card_image2 {
    width: 100%;
  }
  .registerform_login {
    margin-left: 10%;
  }
  .input_text {
    width: 300px;
  }
}
