.message {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  background-color: var(--next-bar);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  z-index: 10;
  justify-content: space-around;
}

.message span {
  color: var(--white);
  font-size: 1.5rem;
}

.message i {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

.message i:hover {
  transform: rotate(60deg);
}
