.about {
  height: auto;
  display: block;
  padding: 0px;
  transition: all 0.5s ease-in-out;
  height: fit-content;
}

.about ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
}

.about ul li {
  display: block;
  color: white;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  font-weight: 400;
  margin-right: 400px;
}

.about img {
  width: 130px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

#card_image {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  display: block;

  width: 700px;
  z-index: -1;
  left: 350px;
  top: 5px;
  height: 550px;
}

.container_card {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  height: 400px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_What_Mood {
  max-height: 400px;
  max-width: 600px;
  color: white;
  align-items: center;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 0.1) 0%,
    rgba(17, 0, 32, 0.3) 100%
  );
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  border-radius: 1rem;
  border: rgba(255, 255, 255, 0.048) solid 0.008px;
  padding: 1.5rem;
  z-index: 10;

  margin-left: 5px;
  margin-right: 5px;
}

.card_What_Mood::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    transparent,
    rgba(255, 255, 255, 0.123),
    transparent
  );
  animation: shimmer 3s infinite alternate ease-in-out;
  opacity: 0.5;
}

@keyframes shimmer {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.title h1 {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.title h1 img {
  justify-content: center;
}

.card_What_Mood .subtitle {
  font-size: 1rem;
  line-height: 1.5;
  align-content: center;
  align-items: center;
  text-align: center;
}

#Need_help_back {
  color: white;
  cursor: pointer;
  margin-left: 0%;
}

.card_image {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  display: block;
}
.card_What_Mood .title {
  font-size: 2rem;
  padding: 20px;
  padding-left: 0;
}
