* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #0c070f;
  flex-direction: column;
}

.Navigation_Bar {
  position: relative;
  top: 0;
  z-index: 3;
  display: inline;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
  border: 1px solid hsla(0, 0%, 100%, 0);
  border-radius: 34px;
  transition: all 0.5s ease-in-out;
}

.navigation_section {
  margin-top: 50px;
}

.Navigation_Bar img {
  width: 130px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Navigation_Bar ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 18px;
}

.Navigation_Bar li {
  float: left;
}

.Navigation_Bar .features {
  padding-left: 117px;
  padding-right: 17px;
}

.Navigation_Bar .ABOUT {
  padding-right: 117px;
}

.Navigation_Bar li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
}
.Navigation_Bar li button {
  width: 120px;
  height: 35px;
  border-radius: 11px;
  background-color: #026eee;
  color: #0c070f;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.Navigation_Bar li button:hover {
  background-color: #8eb5e6;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.icon_head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.icon_head img {
  width: 250px;
}

.Shadow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  align-items: center;
  margin-top: 0px;
  padding-top: 0px;

  position: sticky;
}

.Main_topic {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 129px;
  margin-top: 25px;
  position: relative;
  align-items: center;
}

.Land {
  z-index: -1;
  background: url(/Images/Shadow.png) no-repeat 50%;
  background-size: contain;
  position: absolute;
  width: 99%;
  height: 100%;
  background-size: contain;
  align-items: center;
}

.arrow img {
  margin-top: 70px;
  width: 30px;
  height: auto;
}

.head {
  color: white;
  font-size: 30px;
  margin-top: 125px;
  margin-bottom: 40px;
  text-align: center;
}

.card_image {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  display: block;
}

.card_how {
  width: 970px;
  height: auto;
  display: inline;
  margin-top: 10px;
}

.social-icons a {
  width: 100px;
}

.footer {
  margin-bottom: 0px;
  margin-top: auto;
}

.card_section {
  display: inline;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #026eee;
}

.how_work {
  width: 1020px;
  height: auto;
  margin-bottom: 100px;
}

.How {
  text-align: left;
  color: white;
  font-size: 30px;
  margin-top: 125px;
  margin-bottom: 40px;
}

.Icon_bar I {
  color: rgb(255, 255, 255);
  cursor: pointer;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 60px;
  font-size: 20px;
}

.Icon_bar {
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  color: white;
  text-align: center;

  margin: 0;
  box-sizing: border-box;
  width: 100%;
  margin-left: 0%;
  position: relative;
  margin-top: auto;
}

.container_footer {
  width: 105.5%;
  margin-left: 0%;
  margin-bottom: 20px;
  width: 100%;
}

.box {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #112daa25;
  color: rgba(240, 248, 255, 0.336);
  padding: 10px;
  padding-left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  width: 101%;
}

.about {
  height: auto;
  display: block;
  padding: 0px;
  transition: all 0.5s ease-in-out;
  height: fit-content;
}

.about ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 0;
}

.about ul li {
  display: block;
  color: white;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  font-weight: 400;
  margin-right: 480px;
}

.about img {
  width: 130px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container_card {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.card_What_Mood {
  width: 600px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.15);
  align-items: center;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
  margin-left: 20px;
  margin-right: 20px;
}

.card_What_Mood .title {
  font-size: 2.2rem;
  padding: 20px;
}

.card_What_Mood .subtitle {
  font-size: 1rem;
  line-height: 1.5;
  align-content: center;
  align-items: center;
  padding: 20px;
}

.Main_topic_sides {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 55px;
  margin-top: 100px;
  position: relative;
  align-items: center;
}

.Small_topic_sides {
  text-align: center;
  color: white;
  font-weight: 200;
  font-size: 20px;
  margin-top: 20px;
  position: relative;
  align-items: center;
  margin-left: 270px;
  margin-right: 270px;
}

.button_holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.Middle_button {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  background-color: #026eee;
  color: #0c070f;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;
  text-align: center;

  transition: all 0.5s ease-in-out;
}

.Middle_button:hover {
  width: 170px;
  border-radius: 25px;
  background-color: #3a8aec;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.description {
  padding-top: 50px;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.sub_topic_sides {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 30px;
  margin-top: 100px;
  position: relative;
  align-items: center;
}

.card_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 280px;
  padding: 35px;
  background: linear-gradient(
    326.21deg,
    rgba(83, 83, 83, 0.03) 4.14%,
    hsla(0, 0%, 74%, 0.08)
  );
  border: 1px solid hsla(0, 0%, 100%, 0.03);
  border-radius: 7px;
  text-align: left;
  transition: border 0.3s ease-in-out;
  cursor: default;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.36px;
  color: white;
  height: auto;
}

.card_section:hover {
  border: 1px solid hsla(240, 2%, 25%, 0.836);
  cursor: pointer;
}
.grit_card_section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  background-image: url(/Images/Shadow.png);
  background-size: 1000px;
}

.grit_card_section_create {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 270px;
  margin-right: 270px;
  background-image: url(/Images/Shadow.png);
  background-size: 400px;
  background-repeat: no-repeat;
}

.Project_name {
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 790px;
  position: relative;
  align-items: center;
  border-radius: 10px;
  border: none;
  height: 40px;
}

.Middle_button_start {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  background-color: #026eee;
  color: #0c070f;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;

  transition: all 0.5s ease-in-out;
}

.Middle_button_start:hover {
  width: 165px;
  border-radius: 25px;
  background-color: #8ebbf1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.Loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  transition: opacity 0.5s ease;
}

.Main_topic_Loading {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.sub {
  color: white;
  font-weight: 300;
  font-size: 15px;
  padding-top: 10px;
}

.title h1 {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.radio-btn {
  display: flex;
  align-items: center;
  color: white;
}

.input-container {
  color: white;
  padding-bottom: 20px;
}

.input {
  width: 370px;
  padding: 8px;
  margin-top: 5px;
  background-color: #49474bad;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.last_text {
  color: rgba(255, 255, 255, 0.74);
  font-weight: 300;
}

.last_text a {
  color: white;
}

.Login_card {
  background: rgba(255, 255, 255, 0.15);
  align-items: center;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  color: whitesmoke;
  margin-right: 50px;
  width: 50%;
  height: 598px;
  padding: 40px;
  padding-left: 150px;
}

.container_card_Login {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.Mood_text {
  opacity: 10%;
  width: 350px;
  z-index: -1;
  align-items: flex-start;
  padding-bottom: 50px;
}

.Navigation_Bar li form .logout {
  width: 120px;
  height: 35px;
  border-radius: 11px;
  background-color: #026eee;
  color: #0c070f;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.Navigation_Bar li form .logout:hover {
  background-color: #8eb5e6;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.container_card_register {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;

  width: 100%;
  margin: 0 auto;
  position: relative;
}
table tr {
  border-bottom: 1px solid rgb(255, 255, 255);
  height: 60px;
}

.colorcode {
  background-color: green;
  width: 30px;
  height: 10px;
  border-radius: 3px;
  display: inline-block;
}

.percentage {
  display: inline-block;
  margin-right: 5px;
  margin-right: 10px;
}

.colorcode_red {
  background-color: rgb(228, 15, 15);
  width: 30px;
  height: 10px;
  border-radius: 3px;
  display: inline-block;
}

.colorcode_yellow {
  background-color: rgb(215, 238, 8);
  width: 30px;
  height: 10px;
  border-radius: 3px;
  display: inline-block;
}

audio {
  border-radius: 0px;
  height: 40px;
}

.audio_input {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  width: 300px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em;
  align-items: center;
  transition: all 0.5s ease-in-out;
  justify-content: center;
}

.audio_input:hover {
  background: #8eb5e6;
  transition: all 0.5s ease-in-out;
  color: black;
  font-weight: 700;
}

input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  opacity: 0;
  width: 0%;
  height: 0%;
}

.audio_input:active {
  /* Styles for active state (when clicking) */
  background-color: #1a3aee;
}

/* container and form */
.container {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
}

.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

/* inside the form user details */
form .user__details .input__box {
  width: calc(100% / 2 - 10px);
  margin-bottom: 15px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: white;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background-color: #363238;
}

/* submit button */
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: hsl(0, 13%, 15%);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

form .button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

@media only screen and (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender__details .category {
    width: 100%;
  }

  .container form .user__details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
}

/*Input number*/

input {
  width: 100%;
  text-align: left;
  background-color: #363238;
  opacity: 60%;
  color: white;
}

button {
  cursor: pointer;
  background-color: #525050;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  margin-right: 10px;
  border-radius: 10px;
  width: 20px;
}

/*Close Number*/
select {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 15px;
  padding-right: 30px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background-color: #363238;
  color: white;
  appearance: none;
  background-image: url("/Images/down\ \(1\).png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  box-shadow: none;
  margin-bottom: 20px;
}

select::-ms-expand {
  display: none;
}

select::-moz-focus-inner {
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.search_form {
  position: relative;
  width: 50rem;
  background: white;
  border-radius: 10px;
}

input,
.search_btn {
  height: 3rem;
  border: 0;
  color: rgb(12, 12, 12);
  font-size: 1.3rem;
  font-weight: 300;
}

input[type="search"] {
  outline: 0;
  width: 100%;
  background: #fff;
  padding-left: 20px;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.search_btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  font-weight: bold;
  background: rgb(75, 75, 77);
  border-radius: 0 9px 9px 0;
}

input:not(:-moz-placeholder-shown) {
  border-radius: 10px 0 0 10px;
  width: calc(100% - 8rem);
}

input:not(:-ms-input-placeholder) {
  border-radius: 10px 0 0 10px;
  width: calc(100% - 4rem);
}

input:not(:placeholder-shown) {
  border-radius: 10px 0 0 10px;
  width: calc(100% - 8rem);
}
input:not(:-moz-placeholder-shown) + button {
  display: block;
}
input:not(:-ms-input-placeholder) + button {
  display: block;
}
input:not(:placeholder-shown) + button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

progress[value] {
  --w: 150px;
  --color: linear-gradient(90deg, #1ecd1e, #ff6161) 0 / var(--w);
  --background: lightgrey; /* the background color */
  height: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: var(--w);

  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}
