* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #0c070f;
  flex-direction: column;
}

.Navigation_Bar {
  position: relative;
  top: 0;
  z-index: 3;
  display: inline;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
  border: 1px solid hsla(0, 0%, 100%, 0);
  border-radius: 34px;
  transition: all 0.5s ease-in-out;
}

.navigation_section {
  margin-top: 50px;
}

.Navigation_Bar img {
  width: 130px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Navigation_Bar ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 18px;
}

.Navigation_Bar li {
  float: left;
}

.Navigation_Bar .features {
  padding-left: 117px;
  padding-right: 17px;
}

.Navigation_Bar .ABOUT {
  padding-right: 117px;
}

.Navigation_Bar li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
}
.Navigation_Bar li button {
  width: 120px;
  height: 35px;
  border-radius: 11px;
  background-color: #026eee;
  color: #0c070f;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.Navigation_Bar li button:hover {
  background-color: #8eb5e6;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.icon_head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.icon_head img {
  width: 250px;
}

.Shadow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  align-items: center;
  margin-top: 0px;
  padding-top: 0px;

  position: sticky;
}

.Main_topic {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 129px;
  margin-top: 25px;
  position: relative;
  align-items: center;
}

.Land {
  z-index: -1;
  background: url(/Images/Shadow.png) no-repeat 50%;
  background-size: contain;
  position: absolute;
  width: 99%;
  height: 100%;
  background-size: contain;
  align-items: center;
}
.arrow img {
  margin-top: 70px;
  width: 30px;
  height: auto;
}

.head {
  color: white;
  font-size: 30px;
  margin-top: 125px;
  margin-bottom: 40px;
  text-align: center;
}

.card_image {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  display: block;
}

.card_how {
  width: 970px;
  height: auto;
  display: inline;
  margin-top: 10px;
}

.social-icons a {
  width: 100px;
}

.footer {
  margin-bottom: 0px;
  margin-top: auto;
}

.card_section {
  display: inline;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #026eee;
}

.how_work {
  width: 1020px;
  height: auto;
  margin-bottom: 100px;
}

.How {
  text-align: left;
  color: white;
  font-size: 30px;
  margin-top: 125px;
  margin-bottom: 40px;
}

.Icon_bar I {
  color: rgb(255, 255, 255);
  cursor: pointer;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 60px;
  font-size: 20px;
}

.Icon_bar {
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  color: white;
  text-align: center;

  margin: 0;
  box-sizing: border-box;
  width: 100%;
  margin-left: 0%;
  position: relative;
  margin-top: auto;
}

.container_footer {
  width: 105.5%;
  margin-left: 0%;
  margin-bottom: 20px;
  width: 100%;
}

.box {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #112daa25;
  color: rgba(240, 248, 255, 0.336);
  padding: 10px;
  padding-left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  width: 101%;
}

.about {
  height: auto;
  display: block;
  padding: 0px;
  transition: all 0.5s ease-in-out;
  height: fit-content;
}

.about ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 0;
}

.about ul li {
  display: block;
  color: white;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  font-weight: 400;
  margin-right: 480px;
}

.about img {
  width: 130px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container_card {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.card_What_Mood {
  width: 600px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.15);
  align-items: center;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
  margin-left: 20px;
  margin-right: 20px;
}

.card_What_Mood .title {
  font-size: 2.2rem;
  padding: 20px;
}

.card_What_Mood .subtitle {
  font-size: 1rem;
  line-height: 1.5;
  align-content: center;
  align-items: center;
  padding: 20px;
}

.Main_topic_sides {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 55px;
  margin-top: 100px;
  position: relative;
  align-items: center;
}

.Small_topic_sides {
  text-align: center;
  color: white;
  font-weight: 200;
  font-size: 20px;
  margin-top: 20px;
  position: relative;
  align-items: center;
  margin-left: 270px;
  margin-right: 270px;
}

.button_holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.Middle_button {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  background-color: #026eee;
  color: #0c070f;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;

  transition: all 0.5s ease-in-out;
}

.Middle_button:hover {
  width: 170px;
  border-radius: 25px;
  background-color: #3a8aec;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.description {
  padding-top: 50px;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.sub_topic_sides {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 30px;
  margin-top: 100px;
  position: relative;
  align-items: center;
}

.card_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 280px;
  padding: 35px;
  background: linear-gradient(
    326.21deg,
    rgba(83, 83, 83, 0.03) 4.14%,
    hsla(0, 0%, 74%, 0.08)
  );
  border: 1px solid hsla(0, 0%, 100%, 0.03);
  border-radius: 7px;
  text-align: left;
  transition: border 0.3s ease-in-out;
  cursor: default;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.36px;
  color: white;
  height: auto;
}

.card_section:hover {
  border: 1px solid hsla(240, 2%, 25%, 0.836);
  cursor: pointer;
}
.grit_card_section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  background-image: url(/Images/Shadow.png);
  background-size: 1000px;
}

.grit_card_section_create {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 270px;
  margin-right: 270px;
  background-image: url(/Images/Shadow.png);
  background-size: 400px;
  background-repeat: no-repeat;
}

.Project_name {
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 790px;
  position: relative;
  align-items: center;
  border-radius: 10px;
  border: none;
  height: 40px;
}

.Middle_button_start {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  background-color: #026eee;
  color: #0c070f;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;

  transition: all 0.5s ease-in-out;
}

.Middle_button_start:hover {
  width: 165px;
  border-radius: 25px;
  background-color: #8ebbf1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.Navigation_Bar li form .logout{
  width: 120px;
  height: 35px;
  border-radius: 11px;
  background-color: #026eee;
  color: #0c070f;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.Navigation_Bar li form .logout:hover {
  background-color: #8eb5e6;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}