.thanks{
    margin-top: 15rem;
}
.thanks .image{
    position:relative;
    margin-top: -3rem;
    margin-left: -2rem;
    margin-bottom: 20rem;
     
  }
  .thanks .image img{
    width: 102%;
     
  }
  .thanks .image .text{
    position:absolute;
    top:0;
    margin-top:3rem;
    margin-left:10rem;
  }
  .thanks .image .text h1{
    font-size: 3rem;
    color:white;
    font-weight: 800;
  
  }
  .thanks .image .text h2{
    font-size: 2rem;
    color:white;
    margin-top: 2rem;
    margin-bottom: 3rem;
  
  }
  .thanks .image .text a{
    font-size: 1.5rem;
    background-color: white;
    color:black;
    font-weight: 500;
    padding: 1rem;
    border: var(--border);
    border-radius: 5rem;
    text-decoration: none;
  
  }
  .thanks .image .text a:hover{
    background-color: orange;
    color:black;
  
  
  }

  
  @media(max-width:991px){
  html{
      font-size:65%;
  }

  
}
@media(max-width:768px){
  html{
    font-size:63%;
}
.thanks .image{
  margin-top: 3rem;
}
.thanks .image .text{
  margin-top:1.5rem;
  margin-left:3.5rem;
}
.thanks .image .text h1{
  font-size: 2rem;
}
.thanks .image .text h2{
  font-size: 1.5rem;
}
.thanks .image .text a{
  margin-top: 2.5rem;
  font-size: 1.5rem;
}
  
}
@media(max-width:450px){
  html{
      font-size: 60%;
  }
  .thanks .image{
    margin-top: 3rem;
  }
  .thanks .image .text{
    margin-top:1rem;
    margin-left:3rem;
  }
  .thanks .image .text h1{
    font-size: 1.5rem;
  }
  .thanks .image .text h2{
    font-size: 1rem;
  }
  .thanks .image .text a{
    margin-top: 2rem;
    font-size: 1rem;
  }

}


