.about {
  height: auto;
  display: block;
  padding: 0px;
  transition: all 0.5s ease-in-out;
  height: fit-content;
}

.about ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
}

.about ul li {
  display: block;
  color: white;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  font-weight: 400;
  margin-right: 400px;
}

.about img {
  width: 130px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

#card_image {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  display: block;
  width: 700px;
  z-index: -1;
  height: 400px;
}

.container_card_register {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: justify;
  min-height: 76vh;
}

.card_What_Mood {
  max-height: 400px;
  max-width: 600px;
  color: white;
  align-items: center;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 0.1) 0%,
    rgba(17, 0, 32, 0.3) 100%
  );
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  border-radius: 1rem;
  border: rgba(255, 255, 255, 0.048) solid 0.008px;
  padding: 1.5rem;
  z-index: 10;

  margin-left: 5px;
  margin-right: 5px;

  height: 350px;
  width: 400px;
  margin-right: 50px;
  padding-top: 0px;
  padding-left: 40px;
  font-size: 12px;
  font-weight: 300;
}

.card_What_Mood::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    transparent,
    rgba(255, 255, 255, 0.123),
    transparent
  );
  animation: shimmer 3s infinite alternate ease-in-out;
  opacity: 0.5;
}

@keyframes shimmer {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.card_What_Mood .subtitle {
  line-height: 1.5;
  align-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 300;
}

#back_icon {
  font-size: 25px;
}

.Payment_Table tr {
  border: none;
  height: 50px;
}

.Payment_Table td {
  padding: 0%;
  height: 10px;
}

#workers {
  border-bottom: 1px white solid;
}

.registerform_login {
  margin-left: 60px;
  margin-top: 0px;
}

.title h2 {
  color: white;
  font-weight: 400;
}

.input-container_register {
  color: white;
  padding-bottom: 20px;
}

.input_text {
  width: 370px;
  padding: 8px;
  margin-top: 5px;
  background-color: #49474bad;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  transition: border-color 1.5s ease, background-color 1s ease;
}

.input_text:focus {
  outline: none;
  border: 0.5px solid #007bff;
  background-color: #49474b50;
}

#ex {
  display: flex;
}

#text1 {
  width: 95%;
}

#text2 {
  width: 100%;
}

.button_holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -25px;
  justify-content: left;
}

.middle_button_Creator_main {
  border: none;
  background-color: #0173f9;
  border-radius: 10px;
  margin: 0;
  height: 50px;
  width: 150px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: none;
  transition: box-shadow 2s ease;
}

.middle_button_Creator_main:hover {
  box-shadow: 0px 4px #39bffe;
  transition: 0.3s;
  color: white;
  opacity: 100%;
  border-radius: 10px;
}

.middle_button_Creator_main2:hover {
  box-shadow: 0px 4px #39bffe;
  transition: 0.3s;
  color: white;
  opacity: 100%;
  border-radius: 10px;

  border-radius: 10px;
  background-color: #023c81;
}

.middle_button_Creator_main2 {
  border: none;
  background-color: #023c81;
  border-radius: 25px;
  margin: 0;
  height: 50px;
  width: 150px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: none;
  transition: box-shadow 2s ease;

  border-radius: 10px;
}

table tr {
  border-bottom: 1px solid rgb(255, 255, 255);
  height: 60px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;

  width: 100%;
  margin: 0 auto;
  position: relative;
}
table tr {
  border-bottom: 1px solid rgb(255, 255, 255);
  height: 60px;
}

.total_2 {
  border-top: solid white 1px;
}

.recipt h3 {
  font-size: 20px;
}

.registerform {
  margin-top: 0px;
}

.input-container-row {
  display: flex;
}

#text1 {
  width: 95%;
}

#text2 {
  width: 100%;
}

#amountInput {
  width: 100%;
}

@media(max-width:991px){
  html{
      font-size:80%;
  }

  
}
@media(max-width:768px){
  html{
    font-size:75%;
}
#card_image {
  width: 100vw;
}
.container_card_register {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

}
.card_What_Mood {
  margin-left: 20px;
  height: 320px;
  width: 320px;
  margin-bottom: 50px;

}
.card_What_Mood .subtitle {
  font-size: 12px;
}
.registerform{
  margin-left: 20px;
}
.input_text {
  width: 350px;

}
#text1 {
  width: 90%;
}

#text2 {
  width: 90%;
}
#amountInput {
  width: 90%;
}
.button_holder {
  justify-content: center;
}
.middle_button_Creator_main {
  height: 50px;
  width: 130px;
}

  
}
@media(max-width:450px){
  html{
      font-size: 70%;
  }
  #card_image {
    width: 100vw;
  }
  .container_card_register {
    margin-top: 80px;
    display: flex;
    flex-direction: column;

  }
  .card_What_Mood {
    margin-left: 20px;
    height: 280px;
    width: 280px;
    margin-bottom: 50px;

  }
  .card_What_Mood .subtitle {
    font-size: 10px;
  }
  .registerform{
    margin-left: 20px;
  }
  .input_text {
    width: 320px;

  }
  #text1 {
    width: 90%;
  }
  
  #text2 {
    width: 90%;
  }
  #amountInput {
    width: 90%;
  }
  .button_holder {
    justify-content: center;
  }
  .middle_button_Creator_main {
    height: 40px;
    width: 120px;
  }

}


