
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Lato:wght@700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-colur:#0C070F;
    --white:#FFFFFF;
    --btn-colour:#026EEE;
    --btn-text:#0C070F;
    --input-box:#A5EFFF;
    
 }
 *{
    margin:0;
    font-family: "Roboto", sans-serif;
 }

 body{
    background-color: var(--main-colur);

 }

 .content .back{
    position: fixed;
    top:50px;
    left:50px;

}

 .content .back a i{
    color: var(--white);
    font-size: 1.8rem;
}


.content .title h1{
    color: var(--white);
    font-weight: bold;
    font-size: 2.5rem;
}
.content form .form-group{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

}
.content form .form-group .row{
    display: flex;
    justify-content: flex-start;

}
.content form .form-group .row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
    gap:40px;

}


.content form .form-group label{
    color: var(--white);
    font-size: 1.3rem;
    margin-bottom: 0px;

}

.content form .form-group input{
    background-color: rgba(128, 128, 128, 0.533);
    background-position: center; 
    background-repeat: no-repeat;
    width:400px;
    height: 45px;
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-size: 1rem;

}

.content form .form-group .row2 .buttons{
    display: flex;
    justify-content: flex-start;
}
.content form .form-group .row2 .buttons .button{
    width: 200px;
    height: 40px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    font-size: 1.4rem;
    background-color: var(--btn-colour);
    color: var(--btn-text);
    font-weight: 500;
}
.content form .form-group .row2  .buttons .button:hover{
    background-color: var(--white);

}
.content form .form-group .row2 .last_text{
    font-size: 1.3rem;
    color: gray;
    display: flex;
    margin-top: 40px;
    justify-content: center;

}
.content form .form-group .row2 .last_text p a{
    text-decoration: none;
    color: gray;

}
.content form .form-group .row2 .last_text p a:hover{
    text-decoration: underline;

}
@media(max-width:1200px){
    html{
        font-size:65%;
    }
    .content form .form-group{
        display: flex;
        flex-direction: column;

    }
}

@media(max-width:991px){
    html{
        font-size:65%;
    }
    .content form .form-group{
        display: flex;
        flex-direction: column;

    }
}
@media(max-width:768px){
    .content form .form-group{
        display: flex;
        flex-direction: column;

    }
    .header .flex .back i{
        margin-left: -5rem;

    }

}
@media(max-width:450px){
    html{
        font-size: 60%;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content form .form-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .content form .form-group input{

        width:200px;
        height: 45px;   
    }
    .content form .form-group .row2 .sub-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}